.main {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/scope.jpg");
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22rem;
  align-items: center;
  object-fit: fill;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  object-fit: fill;
  background-color: #f5f5dc;
}

.content label {
  margin: 11px 0px;
}

.content input {
  padding: 13px;
  border: none;
  width: 20rem;
  border-radius: 8px;
}

.content h2 {
  color: #000;
}

input:focus {
  outline-color: navajowhite;
}

.content button {
  background-color: #004e91;
  width: 10rem;
  padding: 0.6rem;
  align-self: flex-end;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: #f0f8ff;
}

.content button:hover {
  cursor: pointer;
  background-color: #1684a4;
}

.error {
  color: #dc143c;
}

.success {
  color: #108010;
}
